<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bhagava.traineemanage.mapper.ClassInfoMapper">
  <resultMap id="BaseResultMap" type="com.bhagava.traineemanage.entity.ClassInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="up_start_date" jdbcType="TIMESTAMP" property="upStartDate" />
    <result column="up_end_date" jdbcType="TIMESTAMP" property="upEndDate" />
    <result column="down_start_date" jdbcType="TIMESTAMP" property="downStartDate" />
    <result column="down_end_date" jdbcType="TIMESTAMP" property="downEndDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <collection property="classExamList" column="id"  fetchType="eager" select="com.bhagava.traineemanage.mapper.ClassExamMapper.selectByClassId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `name`, up_start_date, up_end_date, down_start_date, down_end_date, `status`
  </sql>
  <select id="selectByExample" parameterType="com.bhagava.traineemanage.entity.ClassInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from class_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from class_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from class_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bhagava.traineemanage.entity.ClassInfoExample">
    delete from class_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bhagava.traineemanage.entity.ClassInfo" useGeneratedKeys="true">
    insert into class_info (`name`, up_start_date, up_end_date, 
      down_start_date, down_end_date, `status`
      )
    values (#{name,jdbcType=VARCHAR}, #{upStartDate,jdbcType=TIMESTAMP}, #{upEndDate,jdbcType=TIMESTAMP}, 
      #{downStartDate,jdbcType=TIMESTAMP}, #{downEndDate,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bhagava.traineemanage.entity.ClassInfo" useGeneratedKeys="true">
    insert into class_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="upStartDate != null">
        up_start_date,
      </if>
      <if test="upEndDate != null">
        up_end_date,
      </if>
      <if test="downStartDate != null">
        down_start_date,
      </if>
      <if test="downEndDate != null">
        down_end_date,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="upStartDate != null">
        #{upStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="upEndDate != null">
        #{upEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="downStartDate != null">
        #{downStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="downEndDate != null">
        #{downEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bhagava.traineemanage.entity.ClassInfoExample" resultType="java.lang.Long">
    select count(*) from class_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update class_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.upStartDate != null">
        up_start_date = #{record.upStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.upEndDate != null">
        up_end_date = #{record.upEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.downStartDate != null">
        down_start_date = #{record.downStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.downEndDate != null">
        down_end_date = #{record.downEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update class_info
    set id = #{record.id,jdbcType=INTEGER},
      `name` = #{record.name,jdbcType=VARCHAR},
      up_start_date = #{record.upStartDate,jdbcType=TIMESTAMP},
      up_end_date = #{record.upEndDate,jdbcType=TIMESTAMP},
      down_start_date = #{record.downStartDate,jdbcType=TIMESTAMP},
      down_end_date = #{record.downEndDate,jdbcType=TIMESTAMP},
      `status` = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bhagava.traineemanage.entity.ClassInfo">
    update class_info
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="upStartDate != null">
        up_start_date = #{upStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="upEndDate != null">
        up_end_date = #{upEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="downStartDate != null">
        down_start_date = #{downStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="downEndDate != null">
        down_end_date = #{downEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bhagava.traineemanage.entity.ClassInfo">
    update class_info
    set `name` = #{name,jdbcType=VARCHAR},
      up_start_date = #{upStartDate,jdbcType=TIMESTAMP},
      up_end_date = #{upEndDate,jdbcType=TIMESTAMP},
      down_start_date = #{downStartDate,jdbcType=TIMESTAMP},
      down_end_date = #{downEndDate,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>